<!DOCTYPE html>
<html>
    <head>
        <title>Characters</title>
        <link rel="stylesheet" href="characters.css">
        <link href="https://fonts.cdnfonts.com/css/games" rel="stylesheet">
    </head>
    <body>
        <header>
            <h1>Characters Page!</h1>
            <nav>
                <ul>
                    <li><a href="home.html">Home</a></li>
                    <li><a href="characters.html">Characters</a></li>
                    <li><a href="login.html">Login</a></li>
                    <li><a href="register.html">Register</a></li>
                </ul>
            </nav>
            <h2>This is your Characters Page!</h2>
        </header>
        <section>
            <footer>
                Copyright &copy; VGDB 2023
            </footer>
        </section>
        </header>
    </body>
</html>