extends layout 
block layout-content
    div(class="box")
        h1 Video Game Charaters Home Page
        h2 These are all of your charaters!
            if(characterList.length > 0)
                each character in characterList 
                    div(class='characters') <!--make css later-->
                        div(class="characterDisplay")='Character: ' + character.character + ' \n Skill: ' + character.skill + '\n Game: ' + character.game + ' Image: '
                        img(src=character.picture class="characterImg")