html
    head
        title Game Character Database 
        link(rel='stylesheet' href='css/style.css')
    body 
        header(class="headerzk")
            nav
                a(href='/') Home Page
                if (user == true)
                    a(href='/login') Login Page
                else
                    a(href='/register') Register Page
                a(href='/character') Characters Page
        section
            block layout-content
        footer(class="footerzk") ScrummyPeople 2023©