html
    head
        title Game Character Database 
        link(rel='stylesheet' href='css/style.css')
    body 
        header
            nav
                a(href='/') Home Page
                a(href='/login') Login Page
                a(href='/register') Register Page
                a(href='/character') Characters Page
        section
            block layout-content
        footer ScrummyPeople 2023©