html
    head
        title home 
        link(rel='stylesheet' href='css/style.css')
    body 
        header
            nav
        section
            block layout-content
        footer ScrummyPeople 2023©