extends layout 
block layout-content 
    div(class='box')
        h2 Register 
        if error 
            div(class='error')=error
        form(action="/register" method="POST", id="registerForm")
            label Username:
            input(type="text" name="username" placeholder="Username" required value=username)
            br
            label Password:
            input(type="password" name="password" placeholder="Password" required value=password)
            br
            input(id="submit", type="submit" value="register")