body{
    background-color: #086bbcdd;
    font-family: 'Games', sans-serif;
    color: rgb(35,31,32);
    text-align: center;
}

footer {
    position: fixed;
    bottom: 0;
    color: rgb(147, 8, 31);
    
}

.input {
    height: 20px;
    width: 200px;
    text-align: center;
}

#file {
    /* height: 20px;
    width: 200px; */
    
}

#submit {
    height: 20px;
    width: 100px;
    color: rgb(181, 40, 90);
    background-color: rgb(0, 0, 0);
}