body{
    background-color:#8b4d0add;
    font-family: 'Games', sans-serif;
    font-size: 16px;
    color: #9e1717;
    margin: 0;
    padding: 0;
    color: rgb(35,31,32);
    text-align: center;
}

.input {
    height: 20px;
    width: 200px;
    text-align: center;
}

#file {
    height: 20px;
    width: 200px;
}

#submit {
    height: 20px;
    width: 100px;
}