body{
    background-color: #086bbcdd;
    font-family: 'Games', sans-serif;
    color: rgb(35,31,32);
    background-color: #d1681ced;
    font-family: 'Games', sans-serif;
    font-size: 16px;
    color: #8e0707;
    margin: 0;
    padding: 0;
    text-align: center;
}
.characters{
    border-radius: 20px;
    display: flex;
    border: solid;
    text-align: center;
    margin: 0 10% 0 10%;
}
.characterDisplay{
    display: flex;
    text-align: center;
    margin: 10;
}
.characterImg{
    width: 25%;
    height: 25%;
}
.footer{
    background-color: #b17629dd;
    border-radius: 20px;
    display: block;
    border: solid;
    text-align: center;
}

.footerzk{/*holder for presentation*/

    position: fixed;
    bottom: 0;
    color: rgb(147, 8, 31);
}

.box{
    background-color: whitesmoke;
    border-radius: 20px;
    display: block;
    border: solid;
    text-align: center;
    color: rgb(186, 29, 136);
    padding: .5%;
    margin: 0% 15% 15% 15%;
}

.header{
    background-color: whitesmoke;
    border-radius: 20px;
    display: block;
    /* border: solid; */
    text-align: center;
    margin: 0% 15% 15% 15%;
}
a{
    background-color: rgb(181, 40, 90);
    color: rgb(22, 16, 69);
    /* border-radius: 100px; */
    border: solid;
    text-align: center;
    margin: .5%;
    padding: .1%;
}

#submit {
    height: 20px;
    width: 100px;
    
    color: rgb(181, 40, 90);
    background-color: rgb(0, 0, 0);
}

nav a:hover{
    background-color: rgb(27, 193, 243);
    /* border-radius: 100px; */
    border: solid;
    text-align: center;
    margin: .5%;
    padding: .1%;
}


 /* .characters{
    position: relative;
    display: inline-block; broke stuff, so i commented this out
}  */


li a{
    display: inline-block;
    padding: 3px;
    margin: 3px;

}

li a:hover{
    background-color: #9e1717;
    color: #8b4d0add;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #b17629dd;
    border-radius: 20px;
}

.error{ /*Making error message red*/
    color: red;
}