.footerzk{
    background-color: whitesmoke;
    border-radius: 20px;
    display: block;
    border: solid;
    text-align: center;
    margin: 10% 15% 0% 15%;
}
.headerzk{
    background-color: whitesmoke;
    border-radius: 20px;
    display: block;
    border: solid;
    text-align: center;
    margin: 0% 15% 15% 15%;
}
.a{ /*delete this if you want to change it, this is just holder stuff for now*/
    /*background-color: whitesmoke;*/
    /*border-radius: 20px;
    border: solid;*/
    text-align: center;
    padding: .5%;
    margin: 2%;
}
.membership{
    background-color: whitesmoke;
    border-radius: 20px;
    opacity: 95%;
    display: block;
    border: solid;
    text-align: center;
    margin: 10% 20% 25% 20%;
    padding: .5% .5% .5% .5%;
}
.error{
    color: red;
}