body{
    background-color: #a32020;
    font-family: 'Games', sans-serif;
    font-size: 16px;
    color: #c7833bdd;
    margin: 0;
    padding: 0;
}

li a{
    display: inline-block;
    padding: 3px;
    margin: 3px;
}

li a:hover{
    background-color: #a32020;
    color: #c7833bdd;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #b83012dd;
}