//extends layout

//block layout-content

head 
    link(rel="stylesheet", href="/public/css/createcss")
h1 Add A Character 
form(action="/generateCharacter", method="POST", id="charForm")
    input(type="text", name="charaterName", placeholder="Charater Name")
    br
    input(type="text", name="specialSkill", placeholder="Special Skill")
    br
    input(type="text", name="gameName", placeholder="Name of Game")
    br
    input(type="file", name="pictureUpload")
    br
    input(type="submit", name="submit", value="Add")