head
    title Characters
    link(rel="stylesheet", href="/css/characters.css")
    link(href="https://fonts.cdnfonts.com/css/games" rel="stylesheet")
header
    h1 Characters Page!
    nav
        ul
            li
                a(href="/") Home
            li
                a(href="/logout") Logout
    h2 This is your Characters Page!
section
    footer
        | Copyright &copy; VGDB 2023